@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

html{
  background-color: #000000	;
  font-family: 'Noto Sans KR', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header{
  text-align: center;
  font-size: 40px;
  letter-spacing: 7px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000, 0 0 1em #ff38f8;
  z-index: 1;
}

.floor{
  position: absolute;
  top: 20vw;
  left: 3vw;
}

.floor ul{
  list-style: none;
}

.floor button{
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  border-style: hidden;
  margin: 1px;
  background-color: #000000	;
  color: #ffffff;
}

.floor :hover{
  text-shadow: 1px 1px 2px black, 0 0 1em #c400e2;
}

.side{
  position: absolute;
  top: 22vw;
  right: 5vw;
}

.side ul{
  list-style: none;
}

.side button{
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  border-style: hidden;
  margin: 1px;
  background-color: #000000;
  color: #ffffff;

}

.side :hover{
  text-shadow: 1px 1px 2px black, 0 0 1em #c400e2;
}

.img1{
  position: absolute;
  transition: 1.2s;
  height: 50vw;
  left: 26.5vw;
  z-index: 2;
}

.img2{
  position: absolute;
  transition: 1.7s;
  height: 50vw;
  left: 26.5vw;
  z-index: 2;
}

.img3{
  position: absolute;
  transition: 2.3s;
  height: 50vw;
  left: 26.5vw;
  z-index: 2;
}
